name: Linting
on: pull_request
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5

      - run: uv python install
      - run: uv sync --group dev
      - run: uv run ruff check .
      - run: uv run ruff format --check .

  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v5
      - run: uv python install
      - run: uv sync --group dev
      - run: uv run cz check --rev-range origin/${{ github.base_ref }}..HEAD
